# Part I : Quel(le) data scientist êtes-vous ?
## Contexte de l’analyse

Elu métier le plus sexy par la Harvard Business Review en octobre 2012, le data scientist représente un profil rare qui exige de nombreuses compétences.

A partir d'un dataset Aquila, vous réaliserez :
- un clustering non supervisé afin d'identifier 2 groupes de profils techniques distinctes
- une prédiction des profils dont le métier n'est pas labellisé


## Données
data.csv contient 6 variables : 
    - 'Entreprise' correspond à une liste d'entreprises fictive
    - 'Metier' correspond au métier parmi data scientist, lead data scientist, data engineer et data architecte
    - 'Technologies' correspond aux compétences maîtrisées par le profil
    - 'Diplome' correspond à son niveau scolaire (Bac, Master, PhD,...)
    - 'Experience' correspond au nombre d'années d'expériences
    - 'Ville' correspond au lieu de travail
    


## Répondez aux questions 

Bonne chance!

In [69]:
# Import des libraries classique (numpy, pandas, ...)
import pandas as pd
import numpy as np
import re
import sklearn as sk
import seaborn as sb
from matplotlib import pyplot as plt
plt.style.use('ggplot')

### 1) Importer le tableau de données dans un dataframe

In [70]:
# Import du dataframe "data.csv"
df = pd.read_csv("data.csv", decimal=",")  # The argument decimal=","  replaces points by commas.

In [71]:
df.head()

,Entreprise,Metier,Technologies,Diplome,Experience,Ville
0,Sanofi,Data scientist,Matlab/Python/Pyspark/Scikit-learn/Tensorflow,Master,1.0,Paris
1,Massachusetts General Hospital(MGH),Data architecte,Python/Java/Scala/MongoDB,Master,3.0,Marseille
2,Delve,Lead data scientist,SPSS/SQL/Teradata/R/Python/Tensorflow/scikit-l...,Master,3.0,Nantes
3,Ann & Robert H. Lurie Children’s Hospital of C...,Data scientist,C/C++/Java/Python,Master,1.5,Marseille
4,Arm,Data scientist,Matlab/Python/C++/numpy/Tensorflow/scikit-learn,Phd,NaN,Bordeaux

In [72]:
df.describe() # Basic stastical summary

        Experience
count  9488.000000
mean      2.814186
std       2.716293
min       0.000000
25%       1.000000
50%       2.000000
75%       3.500000
max      21.000000

### 2) Combien y a t-il d'observations dans ce dataset? Y a t-il des valeurs manquantes?

In [73]:
'There are {} observations.'.format(df.shape[0]) # Size of the data frame

'There are 9582 observations.'

The following command line shows the total number of missing values per variable:

In [74]:
df.isna().sum()

Entreprise      17
Metier          19
Technologies     0
Diplome          0
Experience      94
Ville            0
dtype: int64

In [77]:
print(f'The number of missing values is equal to {df.isna().sum().sum()}.')

The number of missing values is equal to 130.

### 3) Réaliser l'imputation des valeurs manquantes pour la variable "Experience" avec : 
- la valeur médiane pour les data scientists
- la valeur moyenne pour les data engineers

In [53]:
ExpDS = df['Experience'][df['Metier'] == 'Data scientist']
MedExpDS = ExpDS.median(axis=0, skipna=True)
'The meadian experience for data scientists is equal to {}'.format(MedExpDS)

'The meadian experience for data scientists is equal to 2.0'

In [54]:
ExpDE = df['Experience'][df['Metier'] == 'Data engineer']
MeanExpDE = ExpDE.mean(axis=0, skipna=True)
'The meadian experience for data scientists is equal to {}'.format(MeanExpDE)

'The meadian experience for data scientists is equal to 2.984959174903309'

Using these two values we could impute the missing values such as:

In [55]:
"There are {} 'experience' missing values for data scientists.".format(df["Experience"][df["Metier"] == 'Data scientist'].isna().sum())

"There are 32 'experience' missing values for data scientists."

In [56]:
"There are {} 'experience' missing values for data engineers.".format(df["Experience"][df["Metier"] == 'Data engineer'].isna().sum())

"There are 20 'experience' missing values for data engineers."

In [63]:
IndexMissingValuesDE  = list(df[df['Metier'] == 'Data engineer'].loc[df['Experience'].isnull(),'Experience'].index)

In [64]:
df.iloc[IndexMissingValuesDE, 4] =  MeanExpDE

In [65]:
IndexMissingValuesDS  = list(df[df['Metier'] == 'Data scientist'].loc[df['Experience'].isnull(),'Experience'].index)

In [66]:
df.iloc[IndexMissingValuesDS, 4] =  MedExpDS

In [67]:
df.describe()

        Experience
count  9540.000000
mean      2.811813
std       2.709299
min       0.000000
25%       1.000000
50%       2.000000
75%       3.500000
max      21.000000

### 4) Combien d'années d'expériences ont, en moyenne, chacun des profils : le data scientist, le lead data scientist et le data engineer en moyenne?

### 5) Faire la représentation graphique de votre choix afin de comparer le nombre moyen d'années d'expériences pour chaque métier

### 6) Transformer la variable continue 'Experience' en une nouvelle variable catégorielle 'Exp_label' à 4 modalités: débutant, confirmé, avancé et expert
- Veuillez expliquer votre choix du règle de transformation.

### 7) Quelles sont les 5 technologies les plus utilisées? Faites un graphique

### 8) Réaliser une méthode de clustering non supervisée de votre choix pour faire apparaître 2 clusters que vous jugerez pertinents. Donnez les caractéristiques de chacun des clusters.
-  Justifier la performance de votre algorithme grace à une métrique.
-  Interpréter votre resultat.

### 9) Réaliser la prédiction des métiers manquants dans la base de données par l'algorithme de votre choix
-  Justifier la performance de votre algorithme grace à une métrique.
-  Interpréter votre resultat.

### 10) Décrire de façon détaillée les différentes étapes pour mener à bien un projet data complexe.

Dans le cadre d’une campagne de recrutement vous avez reçu un ensemble de cv qui ne sont pas à jour (le poste actuel n’est pas présent). Deux exemple de CV vous sont donnés en pièce jointe (il n'y a pas de mise en page type). Tous les CV sont au format PDF.

On souhaite connaitre le poste actuel de chaque candidat.

-  Quelles sont les différentes étapes nécessaires à la réalisation d'un tel projet?
-  Pour chaque étape, détaillez les taches à accomplir, les méthodes à suivre, les pistes possibles, les points critiques.
-  Justifiez consciencieusement vos choix